body{
    overscroll-behavior-y: none;
    text-align: center;
    font-size: 30px;
    width: 540px;
    background-color: rgb(48, 39, 119);
    margin: auto;
    padding: 0;
    }
div {
    text-align: center;
}

.titlediv {
    margin-bottom: 105px;
}

svg {
  width: 100%;
  height: auto;
}

.titlemoji {
    font-size: 66px;
    font-weight: 900;
  fill: #FBFEFE;
  stroke: #E40011;
  stroke-width: 2;
  stroke-linejoin: round;
}

input{
  font-size: 30px;
}

.waku{
  width: 50px;
  height: 50px;
   vertical-align: middle;
  margin-right: 12px;
    margin-left: 13px;
  margin-bottom: -1px;
  border: 2px solid #FFFEFF;
}

.marukusuru {
    border-radius:50%;
}

.resetbuttondayo input{
  margin-bottom: 40px;
}

.resetbutton {
  background-color: rgb(211, 1, 0);
    border: 2px solid #FFFEFF;
}

.bgmselectdiv {
    margin-top: 100px;
    margin-bottom: 15px;
}

.livebutton {
    background-color: rgb(235, 137, 95);
    border: 2px solid #F8E9AB;
}

.overflow-hidden {
  overflow: hidden;
}

.controller {
  position: fixed;
  transform:rotate(90deg);
  top: 50%;
  right: 0;
  background-color: transparent;
}

input[value='f']{
  color: rgb(255, 230, 133);
}
input[value='w']{
  color: rgb(186, 233, 255);
}
input[value='g']{
  color: rgb(221, 254, 154);
}
input[value='d']{
  color: rgb(255, 148, 255);
}
input[value='l']{
  color: rgb(255, 255, 159);
}
input[value='h']{
  color: rgb(255, 185, 231);
}

input[value='配置をシャッフル']{
  color: #FFFEFF;
}

input[value='ライブ']{
  color: rgb(239, 229, 208);
}
